In [5]:
pwd

'/aiffel/aiffel/aiffel_quest/quest_240115'

In [6]:
import pandas as pd 
user_data = pd.read_csv('/aiffel/aiffel/aiffel_quest/quest_240115/customer_segmentation/user_data.csv')

In [7]:
user_data.head()

,CustomerID,purchase_cnt,item_cnt,recency,user_total,user_average,unique_products,average_interval,total_transactions,cancel_frequency,cancel_rate
0,13099,1,288,99,207.0,207.0,1,0.0,1,0,0.0
1,15945,1,52,365,181.0,181.0,2,0.0,1,0,0.0
2,14861,1,117,52,126.0,126.0,6,0.0,1,0,0.0
3,15944,1,50,276,325.0,325.0,6,0.0,1,0,0.0
4,13922,1,93,351,172.0,172.0,7,0.0,1,0,0.0